.admin-wrapper{
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 1230px;
}

.weight-status-wrapper{
    width: 85%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.border{
    border: 1px solid #cdcdcd;
}

.weight-status{
    font-size: 40px;
    font-weight: 600;
}

.unit {
    font-size: 16px;
    margin-left: 5px;
    width: 2em;
}

.admin-content{
    width: 85%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

.admin-content-forms{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-content-search-form{
    display: flex;
    align-items: center;
}

.admin-content-search-form-input{
    width: 200px;
    height: 40px;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    cursor: pointer;
}

.admin-content-search-form-buttons{
    display: flex;
}

.admin-content-search-form-button-wrapper{
    width: 100px;
    height: 40px;
}

.admin-content-search-form-button{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #919191;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.admin-content-search-form-button-reset{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #919191;
    color: #919191;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.admin-content-create-form-wrapper{
    width: 160px;
    height: 40px;
}

.admin-content-create-form{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    color: #ffffff;
    background: linear-gradient(90deg, #a3a6e1, #ffabd9);
    cursor: pointer;
}

.admin-content-table-wrapper{
    width: 100%;
    margin-top: 10px;
}

.admin-content-table{
    width: 100%;
}

th{
    border-bottom: 1px solid;
    padding: 20px 40px;
}

td{
    padding: 20px 40px;
}

tr:hover:nth-child(n+2){
    background-color: #f7f7f7;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: auto;
    border: 1px solid #8b7969;
}

.check-modal:checked + .modal{
    display: block;
}

.modal-content{
    width: 100%;
    background-color: #ffffff;
    padding: 30px 20px;
    margin: 0 auto;
}

.modal-content-title{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.modal-content-form-wrapper{
    width: 100%;
}

.modal-content-form{
    width: 100%;
}

.modal-content-form-section-title{
    margin-bottom: 10px;
}

.necessary{
    background-color: #fd0707;
    color: #ffffff;
    padding: 1px 5px;
    margin-left: 5px;
}

.modal-content-form-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    margin-bottom: 15px;
}

.modal-content-form-input-wrapper{
    display: flex;
    width: 100%;
}



.modal-content-form-textarea{
    width: 100%;
    height: 160px;
    padding: 10px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    margin-bottom: 15px;
}

.modal-content-form-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-form-button-wrapper{
    width: 200px;
    height: 50px;
}

.modal-content-form-button-back{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #e0dfde;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content-form-button-create{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #a3a6e1, #ffabd9);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
}