body {
    background: linear-gradient(135deg, #fbd3e9, #bb377d);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.user-content{
    width: 30%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.content-logo{
    margin: 0;
    text-align: center;
    color: #ec87ef;
    font-size: 60px;
    font-weight: 400;
}

.error{
    color: red;
}